<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <title>My first webpage</title>

    <!---link naar CSS opmaak--->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/style_charts.css">

    <!---boxicons link--->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!----remixicons link--->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!---google fonts link --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,300&display=swap"
        rel="stylesheet">
</head>


<body>

    <!-- chart.js link -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- om de schaal van tijd te maken -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1.3.1"></script>

    <!-- scrollreveal effect -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- custom javascript link -->
    <script src="../static/bootstrap/js/script.js"></script>

    <!-- javascript voor de grafiekjes, werkt niet doordat er variabelen nodig zijn uit de HTML file -->
    <!-- <script src="../static/bootstrap/js/charts_script.js"></script> -->
    <!-- <script src="{{url_for('static', filename='/bootstrap/js/charts_script.js')}}"></script> -->



    <header>
        <a href={{ url_for('index') }} class="logo">Binenklimaat</a>
        <ul class="navlist">
            <li><a href={{ url_for('index') }}>ACTUELE DATA</a></li>
            <li><a href={{ url_for('charts') }}>GESCHIEDENIS</a></li>
            <li><a href={{ url_for('lege_pagina') }}>NOTIFICATIES</a></li>
            <li><a href={{ url_for('lege_pagina') }}>LEEGE PAGINA</a></li>
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>


    <div class="backgroundimage">

        <div class="block_container">
            <div class="plategrond">
                <div class="plategrond-text">
                    <h5>dit is de text</h5>
                </div>
                <div class="plategrond-image">
                    <img src="../static/images/plategrond4.png"
                        alt="Plategrond van de 4de verdieping van de hogeschool utrecht heidelberglaan 15">
                </div>
            </div>
            <div class="notification">
                <div class="notification_title">
                    <h5>notifications</h5>
                </div>
                <div class="notification_content">
                    <h6>hier komen notificaties</h6>
                </div>
            </div>
        </div>



        <div class="block_container">
            <div class="temp">
                <!-- <div class="temp_text">
                    <h5>hier komt text</h5>
                </div> -->
                <div class="temp_chart">
                    <h8 class="niet_zichtbaar">niet zichtbare text</h8>
                    <canvas id="temp_chart"></canvas>
                </div>
            </div>
            <div class="CO2">
                <!-- <div class="CO2_text">
                    <h5>Hier komt text</h5>
                </div> -->
                <div class="CO2_chart">
                    <h8 class="niet_zichtbaar">niet zichtbare text</h8>
                    <canvas id="co2_chart"></canvas>
                </div>
            </div>

        </div>

        <div class="block_container">
            <div class="humid">
                <!-- <div class="humid_text">
                    <h5>hier komt text</h5>
                </div> -->
                <div class="humid-chart">
                    <h8 class="niet_zichtbaar">niet zichtbare text</h8>
                    <canvas id="humid_chart"></canvas>
                </div>
            </div>
            <div class="pres">
                <!-- <div class="pres_text">
                    <h5>Hier komt text</h5>
                </div> -->
                <div class="pres_chart">
                    <h8 class="niet_zichtbaar">niet zichtbare text</h8>
                    <canvas id="pres_chart"></canvas>
                </div>
            </div>

        </div>




        <script>
            const temp_chart = document.getElementById('temp_chart');

            time_labels = {{ get_recent_sensor_readings(0, 100) | safe }}
            time_luxon = []
            for (dt of time_labels) {
                time_luxon.push(luxon.DateTime.fromISO(dt))
            }
            temp_data = {{ get_recent_sensor_readings(1, 100) | safe }}

            var chart = new Chart(temp_chart, {
                type: 'line',
                data: {
                    labels: time_luxon,
                    datasets: [{
                        label: 'Temperature (°C)',
                        data: temp_data,                            // de data die je laat zien
                        backgroundColor: 'rgb(200, 240, 200)',      // vul kleur van de boletjes en blokjes
                        borderColor: 'rgb(40, 180, 20)',            // keur van de lijn
                        fill: false,                                // de onderkant vullen
                        cubicInterpolationMode: 'monotone',         // de vorm van de lijn afronden
                        tension: 0.4,                               // hoeveel er word afgerond
                        borderWidth: 1                              // dikte van de lijn
                    }]
                },
                options: {
                    responsive: true,
                    animation: false,
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: { display: true, title: { display: false }, type: 'time', time: { displayFormats: { hour: "dd/LL HH'h'", } } },
                        y: { display: true, title: { display: false, text: 'Degrees celsius (°C)' }, suggestedMin: 20, suggestedMax: 30, }
                        // x: { type: 'time', time: { displayFormats: { hour: "dd/LL HH'h'", } } },
                        // y: { suggestedMin: 20, suggestedMax: 30, }
                    }
                }
            });


            const ct2 = document.getElementById('co2_chart');
            co2_data = {{ get_recent_sensor_readings(2, 100) | safe }}

            chart2 = new Chart(ct2, {
                type: 'line',
                data: {
                    labels: time_luxon,
                    datasets: [{
                        label: 'CO2 (ppm)',
                        data: co2_data,
                        backgroundColor: '#FF396A80',
                        borderColor: '#FF396A',
                        fill: false,                                // de onderkant vullen
                        cubicInterpolationMode: 'monotone',         // de vorm van de lijn afronden
                        tension: 0.4,                               // hoeveel er word afgerond
                        borderWidth: 1                              // dikte van de lijn
                    }]
                },
                options: {
                    responsive: true,
                    animation: false,
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: { display: true, title: { display: false }, type: 'time', time: { displayFormats: { hour: "dd/LL HH'h'", } } },
                        y: { display: true, title: { display: false, text: 'CO2 in PPM' }, suggestedMin: 400, suggestedMax: 1000, }
                    }
                }
            });

            const ct3 = document.getElementById('humid_chart');
            time_labels = {{ get_recent_sensor_readings(0, 100) | safe }}
            time_luxon = []
            for (dt of time_labels) {
                time_luxon.push(luxon.DateTime.fromISO(dt))
            }
            humid_data = {{ get_recent_sensor_readings(3, 100) | safe }}

            chart3 = new Chart(ct3, {
                type: 'line',
                data: {
                    labels: time_luxon,
                    datasets: [{
                        label: 'Humidity (%)',
                        data: humid_data,                           // de data die je laat zien
                        backgroundColor: '#39CF9A80',               // vul kleur van de boletjes en blokjes
                        borderColor: '#39CF6A',                     // keur van de lijn
                        fill: false,                                // de onderkant vullen
                        cubicInterpolationMode: 'monotone',         // de vorm van de lijn afronden
                        tension: 0.4,                               // hoeveel er word afgerond
                        borderWidth: 1                              // dikte van de lijn
                    }]
                },
                options: {
                    responsive: true,
                    animation: false,
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: { display: true, title: { display: false }, type: 'time', time: { displayFormats: { hour: "dd/LL HH'h'", } } },
                        y: { display: true, title: { display: false, text: 'humidity in %' }, suggestedMin: 40, suggestedMax: 60, }
                    }
                }
            });

            const ct4 = document.getElementById('pres_chart');
            time_labels = {{ get_recent_sensor_readings(0, 100) | safe }}
            time_luxon = []
            for (dt of time_labels) {
                time_luxon.push(luxon.DateTime.fromISO(dt))
            }
            pres_data = {{ get_recent_sensor_readings(4, 100) | safe }}

            chart4 = new Chart(ct4, {
                type: 'line',
                data: {
                    labels: time_luxon,
                    datasets: [{
                        label: 'Air pressure (hPa)',
                        data: pres_data,                            // de data die je laat zien
                        backgroundColor: '#FFAA0080',               // vul kleur van de boletjes en blokjes
                        borderColor: '#FFAA00',                     // keur van de lijn
                        fill: false,                                // de onderkant vullen
                        cubicInterpolationMode: 'monotone',         // de vorm van de lijn afronden
                        tension: 0.4,                               // hoeveel er word afgerond
                        borderWidth: 1                              // dikte van de lijn

                    }]
                },
                options: {
                    responsive: true,
                    animation: false,
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: { display: true, title: { display: false }, type: 'time', time: { displayFormats: { hour: "dd/LL HH'h'", } } },
                        y: { display: true, title: { display: false, text: 'air pressure in hPa' }, suggestedMin: 1000, suggestedMax: 1100, }
                    }
                }
            });


        </script>


        <script>
            // function to update the graph with a new scale
            function updateGraph(index) {
                document.getElementById('myRange').value = index
                // update the chart data
                chart.data.datasets[0].data = temp_data.slice(index, 100);
                chart.data.labels = time_labels.slice(index, 100);
                chart2.data.datasets[0].data = co2_data.slice(index, 100);
                chart2.data.labels = time_labels.slice(index, 100);
                chart3.data.datasets[0].data = humid_data.slice(index, 100);
                chart3.data.labels = time_labels.slice(index, 100);
                chart4.data.datasets[0].data = pres_data.slice(index, 100);
                chart4.data.labels = time_labels.slice(index, 100);
                // update the chart
                chart.update();
                chart2.update();
                chart3.update();
                chart4.update();
            }
        </script>


        <div class="buttons">
            <button type="submit" id="button_10" name="button" onclick="updateGraph(10)"
                class="btn btn-primary">10</button>
            <button type="submit" id="button_50" name="button" onclick="updateGraph(50)"
                class="btn btn-primary">50</button>
            <button type="submit" id="button_100" name="button" onclick="updateGraph(100)"
                class="btn btn-primary">100</button>
            <div>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange"
                    oninput="updateGraph(value)"></input>
            </div>
        </div>

    </div>



    <!-- {% include "line_graph.html" %} -->


</body>

</html>