<!-- <head> -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>M3-S Dashboard</title>

<!-- CSS voor header -->
<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/style_header.css">

<!-- boxicons link -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!-- remixicons link -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<!-- google fonts link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">

<!-- voor ajax functionaliteit -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- scrollreveal effect -->
<script src="https://unpkg.com/scrollreveal" defer></script>

<!-- custom javascript link -->
<script src="../static/bootstrap/js/script.js" defer></script>
    
<!-- </head> -->