<!DOCTYPE html>
<html lang="nl">

<!-- voor ajax functionaliteit -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!---link naar CSS opmaak--->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/style_lege_pagina_2.css">

    <!---boxicons link--->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!----remixicons link--->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!---google fonts link --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,300&display=swap"
        rel="stylesheet">
</head>


<body>
    <header>
        <a href={{ url_for('index') }} class="logo">Binnenklimaat</a>
        <ul class="navlist">
            <li><a href={{ url_for('index') }}>HOME</a></li>
            <li><a href={{ url_for('charts') }}>STATISTIEKEN</a></li>
            <li><a href={{ url_for('lege_pagina_2') }}>LEGE PAGINA</a></li>
            <li><a href={{ url_for('lege_pagina') }}>LEGE PAGINA</a></li>
        </ul>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="backgroundimage">



    </section>



    <!-- scrollreveal effect -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- custom javascript link -->
    <script src="../static/bootstrap/js/script.js"></script>

</body>


</html>